asgiref==3.11.1
certifi==2026.5.20
distlib==0.4.1
Django==6.0.6
django-debug-toolbar==6.3.0
filelock==3.29.1
packaging==26.2
pipenv==2026.6.1
platformdirs==4.10.0
psycopg2==2.9.12
psycopg2-binary==2.9.12
python-discovery==1.4.0
python-dotenv==1.2.2
setuptools==82.0.1
sqlparse==0.5.5
tzdata==2026.2
virtualenv==21.4.2
